body {
  padding-top: 76px;
}

#home-quote {
  background: url('../img/bg-quote.jpg') center center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .fixed-top {
    position: relative;
  }
  body {
    padding-top: 0;
  }
}
.btn-block {
  width: 140px;
}

a {
 text-decoration: none;
}

.lista-plano li{
  padding: 1rem;
}
/* retirar ultimo border bottom de plano */
.lista-plano li + li {
  border-top: 1px solid rgba(0, 0, 0, .2);
}