body {
  padding-top: 76px;
}

#home-quote {
  background: url('../img/bg-quote.jpg') center center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .fixed-top {
    position: relative;
  }
  body {
    padding-top: 0;
  }
}
